@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.top {
  display: flex;
  flex-direction: row;
  min-height: 140px;
  align-items: center;
}
.info {
  flex: 1;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 0.8rem;
}
.image {
  margin-left: 5px;
  width: 180px;
}

#top-menu-bar {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0;
  padding: 2px;
  width: auto;
}
#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  text-decoration: none;
  padding: 5px 15px;
  color: var(--primary-color);
  border-radius: 4px;
  display: inline-block;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: var(--primary-color);
}
#top-menu-bar a.active,
#top-menu-bar a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
body {
  font-family: "PT Sans Narrow", sans-serif;
}
.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.side-menu {
  flex: 1;
  margin-left: 10px;
}
.main {
  flex: 3;
  box-shadow: 0 0 0 1px var(--secondary-color), 0 2px 3px var(--secondary-color);
  border-radius: 2px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.side1 {
  box-shadow: 0 0 0 1px var(--secondary-color), 0 2px 3px var(--secondary-color);
  border-radius: 2px;
  margin-right: 10px;
  padding: 0 10px 10px 10px;
  margin-top: 10px;
}
footer {
  text-align: center;
}

.side2 {
  margin-top: 10px;
  box-shadow: 0 0 0 1px var(--secondary-color), 0 2px 3px var(--secondary-color);
  border-radius: 2px;
  margin-right: 10px;
  padding: 10px;
}

td {
  padding: 5px;
}
th {
  padding: 5px;
}
#icon {
  cursor: pointer;
  float: right;
  padding: 0;
  margin-top: 5px;
  width: 22px;
}
.table-content {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 200px;
}
.table-content th {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
:root {
  --primary-color: white;
  --secondary-color: black;
  filter: invert(0%);
}
.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}
.image-dark {
  filter: invert(100%);
}
.logo-dark {
  filter: invert(100%);
}
.display {
  display: none;
}
footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.logo,
.logo2,
.logo3 {
  margin-left: 5px;
}
.logo2,
.logo3 {
  margin-right: 15px;
}
.button {
  margin-top: 5px;
}
#message {
  width: 400px;

  height: 100px;
}
.languages h2 {
  margin-top: 15px;
}
.languages {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .info {
    font-size: 7px;
  }
  .image {
    width: 90px;
    height: 90px;
    margin: 0;
    margin-left: 5px;
  }
  body {
    font-size: 10px;
  }

  .content {
    flex-direction: column-reverse;
  }
  #icon {
    width: 15px;
  }
  #message {
    width: 300px;
  }
}
