html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.top {
  display: flex;
  flex-direction: row;
  min-height: 140px;
  align-items: center;
}
.info {
  flex: 1;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 0.8rem;
}
.image {
  margin-left: 10px;
}
.image img:hover {
  transition: 2s;
  border-radius: 100%;
}

#top-menu-bar {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0;
  padding: 2px;
}
#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  text-decoration: none;
  padding: 5px 15px;
  color: var(--primary-color);
  border-radius: 4px;
  display: inline-block;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: var(--primary-color);
}
#top-menu-bar a.active,
#top-menu-bar a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.side-menu {
  flex: 1;
}
.main {
  flex: 2;
}

footer {
  text-align: center;
}

.side2 {
  margin-top: 50px;
}

td {
  padding: 5px;
}
th {
  padding: 5px;
}
#icon {
  width: 22px;
  cursor: pointer;
  float: right;
  padding: 0;
  margin-top: 5px;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  filter: invert(0%);
}
.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}
.image-dark {
  filter: invert(100%);
}
